<!-- app/views/dice/dice_rolls_2.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Dice Roll</title>
</head>
<body>
  <h1>2d6</h1>
  <ul>
    <% @rolls.each do |roll| %>
      <li><%= roll %></li>
    <% end %>
  </ul>
</body>
</html>
