<!-- app/views/dice/roll.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Dice Roll</title>
</head>
<body>
  <h1>Dice Roll Results</h1>
  <p>Number of dice: <%= @num_of_dice %></p>
  <p>Number of sides: <%= @sides %></p>
  <p>Rolls: <%= @rolls.join(', ') %></p>
</body>
</html>
